{% block sg_fred_configuration_detail %}
    <sw-page class="sg-fred-configuration-detail">
        <template slot="smart-bar-header">
            <h2>Create new configuration</h2>
        </template>
        <template slot="smart-bar-actions">

            <sw-button
                :routerLink="{ name: 'sg.fred.configuration.index' }">
                Cancel
            </sw-button>

            <sw-button-process
                class="sw-property-detail__save-action"
                :isLoading="isLoading"
                :processSuccess="isSaveSuccessful"
                :disabled="isLoading"
                @process-finish="saveFinish"
                variant="primary"
                @click.prevent="onSave">
                Save
            </sw-button-process>

        </template>
        <template #content>
            <sw-card-view slot="content" v-if="configuration">
                <sw-card title="Basic Information">
                    <sw-field
                        label="Name"
                        placeholder="Put the name here"
                        v-model="configuration.name">
                        Lorem ipsum dolor sit amet
                    </sw-field>
                </sw-card>
                <sw-card title="Flow Assignment">
                    <sw-entity-single-select
                        entity="sg_fred_flow"
                        v-model="configuration.flowId"
                        placeholder="Assign Flow here">
                    </sw-entity-single-select>
                </sw-card>
            </sw-card-view>
        </template>

    </sw-page>
{% endblock %}
